{% extends '../base.html' %}
{% block content %}
    <h1>게시물 생성</h1>
    <a href="/posts">게시물 목록</a>
    <a href="/posts/create">게시물 생성</a>
    <hr>
    <form action="/posts/create" method="post">
        {% csrf_token %}
        <input name="title" placeholder="제목을 입력하세요"><br>
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <textarea name="content" id="" cols="30" rows="10" placeholder="내용을 입력하세요"></textarea><br>
        <button type="submit">생성</button>
    </form>
{% endblock %}