/* default setting */
*{box-sizing: border-box;}
a{text-decoration: none;}
body{margin:0px;padding:0px;}

/* header */
.header{width:100%;height:70px;border-bottom:1px dotted black;position: fixed;left:0;top:0;
display:flex;justify-content:space-between;align-items:center;}
.header .logo{margin-left:12px;}
.header .login-button{margin-right: 12px;}
.header .logged-button{margin-right: 12px;}

/* main */
.main{display:flex;width:100%;border:1px dotted yellow;margin-top:70px;}

/* left-menu */
.main .left-menu{position: fixed;width:250px; border:1px dotted blue;height:100%;
display:flex;flex-direction:column;justify-content:flex-start;overflow-x:hidden; overflow-y:auto;padding-bottom:10px;}

/* content */
.main .content{flex:9;border:1px dotted green;margin-left:250px;height:100%;padding:8px 12px;z-index:1;}

/* right-menu */
.main .right-menu{flex:3; border:1px dotted blue;height:100%;
    display:flex;flex-direction:column;justify-content:flex-start;}